body {
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: rgba(129, 147, 192, 0.783);
  text-align: center;
}

h1 {
  color: rgba(54, 28, 17, 0.9);
  font-size: 60px;
}

h2 {
  color: rgba(54, 28, 17, 0.9);
}

/* Menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li {
  text-align: left;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #9ed5d6;
  color: rgb(0, 0, 0);
}

/* Responsive Layout for Larger Screens */
@media screen and (min-width: 800px) {
  ul {
      width: 200px;
      float: left;
  }
  li {
      margin-left: 20px; /* Adjusted margin for better spacing */
  }
}
