<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>

body{
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: rgba(129, 147, 192, 0.783);
    text-align:center

}
h1{
    color: rgba(54, 28, 17, 0.9);
    font-size:60px;
    


}

h2{

    color: rgba(54, 28, 17, 0.9);

}
